@font-face {
font-family: 'Serif Gothic Regular';
src: url(fonts/SerifGothicRegular.ttf);
}

@font-face {
font-family: 'Serif Gothic Bold';
src: url(font/SerifGothichBold.tff);
}

body {
	margin: 0;  
	padding: 0;
	font-family: 'Serif Gothic Regular', serif;
    background-color: #000000;
    min-height: 100%;	
    height: 100%;
    
}

html, body {
      height: 100%;
      width: 100%;
}

#nav {
    min-height: 100%;
    width: 224px;
    background-color: #000000;
    float: left;
}

.clearfix {
  overflow: auto;
}


#main {
   background-color: #3F3F3F; 
   max-width: 100%;
   margin: 0px 0px 0px 224px;
   height: 100%;
}

/*#main p {
    margin-top: 0px;
}*/

#kylologo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 224px;
}

ul{
	list-style-type: none;
	display: inline-block;	
    text-align: center;
}
ul a {
    text-decoration: none;
}
a {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    
}

ul a:first-child{
    color : #D70000;
}

ul a:hover { 
    color: #D70000;
}

/*.headerimagesection{
    position: absolute;
}*/

.mainimagecont {
    background-size: cover; 
    background-image: url(images/kyloren747.jpg); 
    height: 747px;
    margin-bottom: 60px;
}

.spacer {
    height: 580px;
}

.spacer2{
    height:56px;
}

.mainimagecont .imagelink button {
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
    margin: auto;
    width: 200px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
}

.mainimagecont .imagelink button:hover {
    background-color: #000000;
    border-color: #000000;
}

fa fa-star-o {
    height:40px;
    width: 40px;
}

.deathstar {
    width: 40px;
    height: 40px;
    fill: white;
}

.deathstar:hover {
    color: white;
}

.bottomimagelink .kylorenbox {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: auto;
    width: 300px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #E7250A;
    background-color: #E7250A;
   
}

.mainimagecont .bottomimagelink button:hover {
    background-color: #000000;
    border-color: #000000;
}

.homecontent{
    height: 400px;
    display: block;
    max-width: 1046px;
    margin: 0 auto;
}

.wrapper1 {
    border-bottom: 1px;
    border-bottom-color: #696969;
    border-bottom-style: solid;
    height: 380px;
}

.wrapper2 {
    margin-top: 60px;
    border-bottom: 1px;
    border-bottom-color: #696969;
    border-bottom-style: solid;
    height: 420px;
}
.homecontent-section-1 {
    display: inline-block;
    height: 300px;
    width: 50%;
}


.homecontent-section-1 #h1 {
    /*width: 50%;*/
    font-size: 32px;
    text-align: left;
    color: #FFEB3B;
}

.homecontent-section-1 #h2 {
    /*width: 50%;*/
    font-size: 28px;
    text-align: left;
    color: #FFEB3B;
}

.homecontent-section-1 p{
    /*width: 50%;*/
    font-size: 20px;
    line-height: 36px;
    color: white;
    text-align: left;
}

.image1 {

    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 48%;
    height: 300px;
    /*text-align: center;*/
    /*width: 50%s;*/
}


#image1 {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

.darthbox {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 30px auto auto auto;
    width: 350px;
    text-align: center;    
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
    padding: 5px;
    font-family: 'Serif Gothic Regular', serif;
}

.darthbox:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
    color: black;
}

.wrapper3 {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

.wrapper3 h3 {
    font-size: 28px;
    color: #FF8300;   
}

.wrapper3 p {
    font-size: 20px;
    color: white;
}

form {
    color: white;
    font-family: 'Serif Gothic Regular', serif;
    line-height: 30px;
}

.submit {
    font-family: 'Serif Gothic Regular', serif;
}


/* MATT.HTML */

.homecontentmatt{
    height: 800px;
    display: block;
    max-width: 1046px;
    margin: 0 auto;
    text-align: center;
}

.homecontentmatt h1
{
    font-size: 48px;
    color: #FFEB3B;
}

.homecontentmatt p {
   color: white;
   font-size: 24px;
}

.homecontentmatt iframe{
    margin-top: 50px;
}

.thumbnails img{
    height: 250px;
    width: 250px;
}

.thumbnails img:hover {
		border: 4px solid #00ccff;
		cursor:pointer;
	}

.preview img {
    border: 4px solid #D70000;
    margin: 10px;
    width:500px;
    height: 500px;
}

.gallery {
    margin-bottom: 60px; 
}

/*.homecontent-section-1-#image1 {
    display: inline-block;

} */



/*.mainimagecont .imagelink .kylobox {
    width:200px;
}*/
