@font-face {
font-family: 'Serif Gothic Regular';
src: url(fonts/SerifGothicRegular.ttf);
}

@font-face {
font-family: 'Serif Gothic Bold';
src: url(font/SerifGothichBold.tff);
}

body {
	margin: 0;  
	padding: 0;
	font-family: 'Serif Gothic Regular', serif;
    background-color: #000000;
    min-height: 100%;	
    height: 100%;
    
}

html, body {
      height: 100%;
      width: 100%;
}

#nav {
    min-height: 100%;
    width: 224px;
    background-color: #000000;
    float: left;
}

.clearfix {
  overflow: auto;
}


#main {
   background-color: #3F3F3F; 
   max-width: 100%;
   margin: 0px 0px 0px 224px;
   height: 100%;
}

/*#main p {
    margin-top: 0px;
}*/

#kylologo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 224px;
}

ul{
	list-style-type: none;
	display: inline-block;	
    text-align: center;
}

li {
    
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
}

li:first-child{
    color : #D70000;
}

li:hover { 
    color: #D70000;
}

/*.headerimagesection{
    position: absolute;
}*/

.mainimagecont {
    background-size: cover; 
    background-image: url(images/kyloren747.jpg); 
    height: 747px;
    margin-bottom: 60px;
}

.spacer {
    height: 580px;
}

.spacer2{
    height:56px;
}

.mainimagecont .imagelink button {
    color: #ffffff;
    text-decoration: none;
    font-size: 48px;
    margin: auto;
    width: 200px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #D70000;
    background-color: #D70000;
}

.mainimagecont .imagelink button:hover {
    background-color: #000000;
    border-color: #000000;
}

fa fa-star-o {
    height:40px;
    width: 40px;
}

.deathstar {
    width: 40px;
    height: 40px;
    fill: white;
}

.deathstar:hover {
    color: white;
}

.bottomimagelink .kylorenbox {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    margin: auto;
    width: 300px;
    text-align: center;    
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: #E7250A;
    background-color: #E7250A;
   
}

.mainimagecont .bottomimagelink button:hover {
    background-color: #000000;
    border-color: #000000;
}

.homecontent{
    height: 400px;
    display: block;
}

.homecontent-section-1 {
    display: inline-block;
    height: 300px;
    width: 50%;
}


.homecontent-section-1 #h1 {
    /*width: 50%;*/
    font-size: 28px;
    text-align: left;
    color: #FFEB3B;
}
.homecontent-section-1 p{
    /*width: 50%;*/
    font-size: 20px;
    line-height: 36px;
    color: white;
    text-align: left;
}

.image1 {

    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 48%;
    height: 300px;
    /*text-align: center;*/
    /*width: 50%s;*/
}


#image1 {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 20px;
    border: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #D70000;
}

/*.homecontent-section-1-#image1 {
    display: inline-block;

} */



/*.mainimagecont .imagelink .kylobox {
    width:200px;
}*/
